
body {
    font-family:'Poppins';
    margin: 0px;
}
.firstsection{
    padding: 5px;
    margin: 10px;
    height: 590px;
    background-color: #bbcfcc;
}
.firstsection > .header{
    text-align: center;
    height: 300px;
    position: relative;

}
.firstsection > .header ul li{
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    overflow: hidden;  
}
.verticalcenter{
    margin: 0px;
    position: absolute;
    top: 25%;
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
}
ul>li>a {
      text-decoration: none;
    font-size: large;
    color: black;
    margin: 5px 50px 50px 5px;
}
ul>li>p a {
 text-decoration: none;
    font-size: large;
    color: black;
    margin: 30px 60px 60px 30px;
}
ul>li>p img{
    width: 50px;
    height: 30px;
    position: relative;
}
#image1{
font-weight: 700;
font-size: xx-large;
}
.streetsize{
    margin-left: 10px;
}
#street{
   color:  #EAAB1B;
   font-size: xx-large;
}
#food{
    color: #6CB840;
    font-size: xx-large;
}
#playwithfood{
    font-size: xx-large;
    margin: 0px;
}
#button{
    color:white;
    background-color: #6CB840;
    border-color: transparent;
   border-radius: 15px;
   height: 30px;
   width: 100px;
}
.sectiontwo > .eattogether > p > img{
    height: 70%;
    width: 50%;
    display: flex;
    float: left;
    margin: -10px ;
}
#eat{
    color:  #EAAB1B;
    font-size: xx-large;
    width: 600px;
    height: 500px;
    border: 0px;
    margin: 120px 150px;
    padding: 10px;
    text-align: center;

    
}
#something {
    justify-content: space-between;
    margin: 10px 150px;
    border: 0px;
    width: 1000px;
    height: 1000px;
    text-align: center;

  }