
body {
    font-family:'Poppins';
    margin: 0px;
}
.firstsection{
    padding: 5px;
    margin: 10px;
    height: 400px;
    background-color: #bbcfcc;
}
.firstsection > .header{
    text-align: center;
    height: 200px;
    position: relative;

}
.firstsection > .header ul li{
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    overflow: hidden;  
}
.verticalcenter{
    margin: 0px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
ul>li>a {
      text-decoration: none;
    font-size: large;
    color: black;
    margin: 5px 50px 50px 5px;
}
ul>li>p a {
 text-decoration: none;
    font-size: large;
    color: black;
    margin: 30px 60px 60px 30px;
}
ul>li>p img{
    width: 40px;
    height: 40px;
    position: relative;
}
#image1{
font-weight: 700;
font-size: xx-large;
}
.streetsize{
    margin-left: 10px;
}
#street{
   color:  #EAAB1B;
   font-size: xx-large;
}
#food{
    color: #6CB840;
    font-size: xx-large;
}
#playwithfood{
    font-size: xx-large;
    margin: 0px;
}
#button{
    color:white;
    background-color: #6CB840;
    border-color: transparent;
   border-radius: 15px;
   height: 30px;
   width: 100px;

}
